*{
    box-sizing: border-box;
}

.hidden
{
    display: none;
}

html, body {
  margin: 0;
  padding: 0;
}

#siteContainer
{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color:
}

.header
{
    display: flex;
    flex-direction: row;
    background-color: #25273C;
    width: 100%;

}

.logo
{
    display: block;
    width: 50%;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.topNav
{
    display: none;
}

.sidenav {

  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #222629;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  font-family: 'raleway', helvetica, sans-serif;

}

.sidenav a {

  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  text-align: center;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #86C232;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.header span
{
    padding: 5px;
}

.header:hover span
{
    cursor: pointer;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*Main Page Content*/

.promoVid
{
  display: block;
    margin: 0 auto;
    margin-top:50px;
    width: 80%;
}

.introText
{
    color: black;
    margin-top: 75px;
    margin-bottom: 75px;
    font-family: 'raleway', helvetica, sans-serif;
    font-size: 24px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    line-height: 25px;
    padding: 25px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}

.secondaryContent
{
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 50px;
    overflow: hidden;
}

.secondaryContent img
{
    transition: transform .5s ease;
}

.secondaryContent:hover img
{
    transform: scale(1.4);
}

.portfolio_home_feature h2{
  color: black;
  font-family: 'raleway', helvetica, sans-serif;
  font-size: 24px;
  text-align: center;
  margin-bottom: 50px;
}
.portfolio_home_feature p
{
  font-family: 'raleway', helvetica, sans-serif;
  font-size: 24px;
    color: #fff;
    font-size: 14px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 25px;
}

/*FOOTER*/
.footer_container
{
    background: #25273C;
    width: 100%;
}

.footer_nav_menu {
    display: none;
}

.copyright
{
    font-size: 1.2rem;
    color: #474b4f;
    display: flex;
    justify-content: center;
    padding: 10px;
    font-family: 'raleway', helvetica, sans-serif;
}

/*ABOUT THE TEAM PAGE*/

.team_box{
    display: flex;
    flex-direction: column;
}

.team_box_hero{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 200px;
    cursor: pointer;
    opacity: 1;
    transition: 0.3s;
}

.team_box_hero:hover{
    opacity:0.6
}

.team_box_js{
    display: flex;
    justify-content: left;
}

.team_box_images{
    display: flex;
    align-items: center;
    width: 100px;
    height: min-content;
    /* border-radius: 10px; */
    margin: 50px;
}

.team_box_bio{
    display: flex;
    margin: 70px 50px;
    /* change font family */

    line-height: 1rem;
    color: white;
}

.team_box p{
  font-family: 'raleway', helvetica, sans-serif;
  font-size: 24px;
}

/*CONTACT US PAGE*/
.team_headshots
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    text-align: center;
}

.team_headshots p
{
    font-family: 'raleway', helvetica, sans-serif;
    color: white;
    font-size: 1rem;
    padding-top: 10px;
}

.headshot
{
    display: flex;
    width: 100%;
    max-width: 200px;
}

#contact-form
{
    display: flex;
    margin: 0 auto;
    padding: 15px;
    font-family: 'raleway', helvetica, sans-serif;
}

#contact-form label
{
    color: #ffffff;
}

.name
{
    width: 100%;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.emailFull
{
    margin-top: 20px;
}

.Email
{
    width: 100%;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.telePhone
{
    width: 100%;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.phoneFull
{
    display: flex;
    flex-direction: column;
}

.commentLabel
{
    display: flex;
}

.comments
{
    max-width: 300px;
    max-height: 100px;
    resize: none;
    border-radius: 5px;
    background-color: #FFFFFF;
    border: 2px solid black;
    margin-top: 0px;
}

.formButton
{
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 20px;
    padding: 10px;
    width: 75px;
    text-align: center;
    background-color: #000000;
    color: white;
    border: 2px solid white;
    cursor: pointer;
}

.formButton:hover {
    background-color: #61892F;
    transition: 0.3s;
}

/*PORTFOLIO SECTION*/

.portmainPromo{
    margin: 30px 35px 15px 35px;
    padding-top: 15px;
    display: inline;
    text-align: center;
  }

  .portImage{
    margin-left: 0px;
    margin-top: 25px;
    display: block;

  }

  .portprojectHeader {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
  }

  .portprojectPara {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .portfolio_2_img{
    margin: 0px 15px 15px 15px;
    padding-left: 35px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
  }


  .image_pic {
      display: block;
      width: 60%;
  }

  .seconImage {
      position: relative;
      width: 500px;
      margin-left: 0px;
      margin-top: 50px;
  }

  .seconImageLeft {
      position: relative;
      width: 500px;
      margin-left: 0px;
      margin-top: 50px;
  }

  .image_overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 60%;
      height: 100%;
      background: rgba(0, 0, 0, 0.7);
      color: #ffffff;
      font-family: 'Kiro', helvetica, sans-serif;
      font-weight: lighter;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transition: opacity 0.25s;
  }

/*FEATURE CONTENT*/

.mainPromo{
    margin: 30px 35px 15px 35px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
  }

  .featureImage{
    margin-left: 0px;
    margin-top: 25px;
    display: block;

  }

  .projectHeader {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
  }

  .projectPara {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .portfolio_feature2_img{
    margin: 0px 15px 15px 15px;
    padding-left: 35px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
  }


  .image_pic {
      display: block;
      width: 60%;
  }

  .seconImage {
      position: relative;
      width: 500px;
      margin-left: 0px;
      margin-top: 50px;
  }

  .seconImageLeft {
      position: relative;
      width: 500px;
      margin-left: 0px;
      margin-top: 50px;
  }

  .image_overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 60%;
      height: 100%;
      background: rgba(0, 0, 0, 0.7);
      color: #ffffff;
      font-family: 'Kiro', helvetica, sans-serif;
      font-weight: lighter;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transition: opacity 0.25s;
  }



/*IPAD SIZING*/

@media screen and (min-width: 650px) {

#siteContainer
{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: #6B6E70;
}

.header
{
    display: flex;
    flex-direction: row;
    background-color: #25273C;
    width: 100%;

}

.logo
{
    display: block;
    width: 50%;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.promoVid{
  display: block;
    margin: 0 auto;
    margin-top:50px;
    width: 80%;
}
.header ul
{
    display: none;
}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #222629;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  text-align: center;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #86C232;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.header span
{
    padding: 5px;
}

.header:hover span
{
    cursor: pointer;
}

.footer{

}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*Main Page Content*/

.promoVid
{
  display: block;
    margin: 0 auto;
    margin-top:50px;
    width: 80%;
}

.introText
{
    color: #ffffff;
    margin-top: 75px;
    margin-bottom: 75px;
    font-size: 26px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    line-height: 25px;
    padding: 25px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}

.secondaryContent
{
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 50px;
    overflow: hidden;
}

.secondaryContent img
{
    transition: transform .5s ease;
}

.secondaryContent:hover img
{
    transform: scale(1.4);
}

.portfolio_home_feature p
{
    color: #fff;
    font-size: 20px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 25px;
}

/*FOOTER*/
.footer_container
{
    background: #222629;
    height: 50px;
    width: 100%;
    font-family: 'raleway', helvetica, sans-serif;
}

.footer_nav
{
    display: none;
}

.copyright
{
    font-size: 1.2rem;
    color: #474b4f;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/*ABOUT THE TEAM PAGE*/

.team_box{
    display: flex;
    flex-direction: column;
}

.team_box_hero{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 350px;
    cursor: pointer;
    opacity: 1;
    transition: 0.3s;
}

.team_box_hero:hover{
    opacity:0.6
}

.team_box_js{
    display: flex;
}

.team_box_images{
    display: flex;
    align-items: center;
    width: 200px;
    height: min-content;
    /* border-radius: 10px; */
    margin: 50px;
}

.team_box_bio{
    display: flex;
    margin: 70px 50px;
    /* change font family */
    font-family: 'raleway', helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    color: white;
}

team_box_bio p
{
  font-size: 15px;
}


/*CONTACT US PAGE*/
.team_headshots
{
    padding: 35px;
}

#contact-form
{
    display: flex;
    margin: 0 auto;
    padding: 15px;
    font-family: 'raleway', helvetica, sans-serif;
}

#contact-form label
{
    color: #ffffff;
}

.name
{
    width: 100%;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.emailFull
{
    margin-top: 20px;
}

.Email
{
    width: 100%;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.telePhone
{
    width: 100%;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.phoneFull
{
    display: flex;
    flex-direction: column;
}

.commentLabel
{
    display: flex;
}

.comments
{
    max-width: 500px;
    max-height: 200px;
    resize: none;
    border-radius: 5px;
    background-color: #FFFFFF;
    border: 2px solid black;
    margin-top: 0px;
}

.formButton
{
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 20px;
    padding: 10px;
    width: 75px;
    text-align: center;
    background-color: #000000;
    color: white;
    border: 2px solid white;
    cursor: pointer;
}

.formButton:hover {
    background-color: #61892F;
    transition: 0.3s;
}


/* PORTFOLIO */
.portmainPromo{
    margin: 0px 50px 25px 50px;
    padding-top: 25px;
    display: inline;
    text-align: center;
  }

  .portprojectHeader {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 12px;
  }

  .portprojectPara {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .portImage{
    width: 40%;
    height: auto;
    display: inline-flex;

  }

  .portfolio_2_img{
    margin: 0px 50px 25px 50px;
    display: flex;
    flex-direction: row;
  }


.mainPromo{
    margin: 0px 50px 25px 50px;
    padding-top: 25px;
    display: flex;
    flex-direction: row;
  }

  .projectHeader {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 12px;
  }

  .projectPara {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .featureImage{
    margin-left: 40px;
  }

  .portfolio_feature2_img{
    margin: 0px 50px 25px 50px;
    display: flex;
    flex-direction: row;
  }

  .image_head {
      font-size: 20px;
      font-weight: bold;
  }

  .image_text {
      font-size: 14px;
      margin: 5px 10px 10px 10px;

  }


}



/*Desktop Edit*/

@media screen and (min-width: 900px) {

#siteContainer {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1920px;
    height: auto;
    background-color:#6735F9;

}

/*HEADER*/
.header
{
display: flex;
flex-direction: row;
background: #25273C;
height: 150px;
max-width: 1920px;
font-size: 1.3rem;
border-bottom-style: solid;
border-bottom-color: grey;
border-bottom-width: thick;
/*change this font family*/


}


.mobileNav
{
    display: none;
}

.logo
{
    display: flex;
    margin-left: 0px;
    /* margin-right: 400px; */
}

.topNav a
{

    text-decoration: none;
    color: black;
    font-family: 'Georgia', helvetica, sans-serif;
    font-size: 22px;
    text-align: center;

}

.topNav
{
    display: flex;
position: absolute;



}

.topNav ul
{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 35px;
    margin-left: 650px;
    margin-right: 500px;



    list-style-type: none;
}


.topNav ul li
{
padding: 20px;


}

.topNav ul li a{
  font-size: 1.7rem;
  /*change this font family*/
  font-family: "Raleway", helvetica, sans-serif;
  font-weight: bold;
  color: white;

}
.topNav a:hover
{
    color: #D4F640;
    opacity: 0.7;
}



/*Main Page Content*/

.video_player
{
  display: block;
    margin: 0 auto;
    margin-top:50px;
    width: 80%;




}


/* FOOTER */

.footer_container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 25px;
    background: #25273C;
    height: 180px;
    width: 100%;
    max-width: 1920px;
    font-family: 'raleway', helvetica, sans-serif;

}

.footer_nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    }



.footer_nav_menu{
    font-size: 1.2rem;
    list-style-type: none;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.footer_nav_item{
    color: #6b6e70;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5rem;
}

.footer_nav_item:hover {
    color:  #86C232;
}

.copyright{
    font-size: 1rem;
    color: #474b4f;
    display: flex;
    justify-content: center;
}

/*Main Page Content*/

.promoVid
{
    margin-top: 50px;
    width: 100%;
    max-width: 1220px;
    justify-content: center;

}

.introText
{
    color: black;
    margin-top: 75px;
    margin-bottom: 75px;
    font-size: 30px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    line-height: 45px;
    padding: 25px;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;

}

.secondaryContent
{
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 50px;
    overflow: hidden;
}

.secondaryContent img
{
    transition: transform .5s ease;
}

.secondaryContent:hover img
{
    transform: scale(1.4);
}

.portfolio_home_feature p
{
    color: black;
    font-size: 22px;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
}

}

/*ABOUT THE TEAM PAGE*/

.profile
{
  display: flex;
  margin: 0 auto;
  width: 90%;
  height: 30%;
  max-width: 1000px;
  max-height: 300px;
  border: none;
  cursor: pointer;
  opacity: 1;
  transition: 0.3s;
}

.profile:hover {
    opacity:0.6
}



.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 5px solid #61892F;
  border-radius: 10px;
  z-index: 10;
  background-color: #222629;
  color: white;
  width: 800px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header img{
  width: 200px;
  height: 200px;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
}

.memberName {
  padding: 10px 15px;
  font-size: 2rem;
  text-decoration: underline;
}

.modal-body {
  padding: 10px 15px;
  font-size: 1.3rem;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}


/*CONTACT US PAGE*/
.team_headshots
{
    padding: 50px;
}

#contact-form
{
    display: flex;
    margin: 0 auto;
    padding: 15px;
    font-family: 'raleway', helvetica, sans-serif;
}

#contact-form label
{
    color: #ffffff;
}

.name
{
    width: 100%;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.emailFull
{
    margin-top: 20px;
}

.Email
{
    width: 100%;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.telePhone
{
    width: 100%;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.phoneFull
{
    display: flex;
    flex-direction: column;
}

.commentLabel
{
    display: flex;
}

.comments
{
    width: 500px;
    height: 200px;
    resize: none;
    border-radius: 5px;
    background-color: #FFFFFF;
    border: 2px solid black;
    margin-top: 0px;
}

.formButton
{
    margin-top: 20px;
    border-radius: 20px;
    background-color: #000000;
    color: white;
    border: 2px solid white;
    cursor: pointer;
}

.formButton:hover {
    background-color: #61892F;
    transition: 0.3s;
}


/*PORTFOLIO PAGE*/

.portprojectHeader {
  font-family: 'raleway', helvetica, sans-serif;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #FFFAFA;
}

.portprojectPara {
  font-family: 'Kiro', helvetica, sans-serif;
  font-size: 22px;
  margin-bottom: 18px;
  color: #FFFAFA;
}

.featext{
  font-family: 'Kiro', helvetica, sans-serif;
  font-size: 18px;
  margin-top: 50px;
  color: #FFFAFA;
}

.portmainPromo {
  margin: 0px 150px 100px 150px;
  padding-top: 100px;
  display: inline;
  text-align: center;

}

.portImage{
  width: auto;
  margin-left: 285px;
  margin-bottom: 50px;
  display: inline;

}

.portfolio_2 {

}

.portfolio_2_img{
  margin: 0px 100px 50px 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.team_headshot_img img{
  margin-top: 30px;
  margin-left: 70px;
}

.team_headshot_text {
  display: flex;
  flex-direction: row;
  font-family: 'raleway', helvetica, sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: white;

}
.team_headshot_text p{
  margin-top: 20px;
  margin-left: 83px;
}


/*FEATURE PAGE*/

.mainPromo
{
    display: flex;
    flex-direction: row;
    margin: 0px 150px 100px 150px;
    padding-top: 100px;
}

.featureImage
{
    width: 350px;
    height: 350px;
}

.secondaryImg1
{
    width: 300px;
    height: 300px;
}

.secondaryImg2
{
    width: 300px;
    height: 300px;
}

.secondaryImg3
{
    width: 300px;
    height: 300px;
}

.secondaryImg4
{
    width: 300px;
    height: 300px;
}


.seconImage {
    position: relative;
    width: 500px;
    margin-left: 50px;
}

.seconImageLeft {
    position: relative;
    width: 500px;
    margin-left: 0px;
}

.image_pic {
    display: block;
    width: 100%;
}

.image_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    font-family: 'Kiro', helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.image_overlay--blur {
    backdrop-filter: blur(5px);
}

.image_overlay-mainBack {
    background: #009578;
}

.image_overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image_overlay:hover {
    opacity: 1;
}

.image_overlay:hover > * {
    transform: translateY(0);
}

.image_head {
    font-size: 24px;
    font-weight: bold;
}

.image_text {
    font-size: 16px;
    margin: 10px 20px 20px 20px;

}
