:root {
  --dark: #25273c;
  --lime: #d4f640;
  --purple: #6735f9;
  --gray: #707070;
  --lite: #ffffff;
  --ff-primary: "Poppins", sans-serif;
  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);
  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;
  --fw-italic: 400 Italic;
  --fs-h2: 2.5rem;
  --fs-h3: 1.56rem;
  --fs-h4: 0.9rem;
  --fs-h5: 1rem;
  --fs-pharagraph: 0.8rem;
}

.hidden {
  display: none;
}

/* ---reset */
body {
  margin: 0;
  padding: 0;
  font-family: var(--ff-primary);
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

.btn-purple {
  background-color: var(--purple);
}

.btn-dark {
  background-color: var(--dark);
}

.btn-lightP {
  background-color: #aa9afc;
}
.btn-flesh {
  background-color: #ebdac0;
}
.btn-green {
  background-color: #cde99e;
}

.contact-us {
  margin: 1rem;
  font-size: 0.7rem;
  color: var(--lite);
  border-radius: 15px;
  padding: 10px 30px;
  font-weight: var(--fw-bold);
  cursor: pointer;
}

a {
  text-decoration: none;
}

/* ---general style */

header a {
  padding: 110px;
  color: var(--lite);
  font-weight: var(--fw-semi-bold);
}
header a:hover {
  color: #d4f640;
}

.selected {
  border-bottom: 1px solid var(--darkblue);
}

.section-style h3,
h2,
h4,
h5,
p {
  padding: 0 1rem 0 1rem;
}

.custom-btn {
  color: #fff;
  border-radius: 9px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: var(--fw-semi-bold);
  background: linear-gradient(0deg, #2f8ec5 0%, #185372 100%);
  border: none;
  letter-spacing: 3px;
  margin-left: 0.8rem;
  margin-top: 1rem;
  padding: 10px 25px;
}

.custom-btn:hover {
  color: var(--darkblue);
  background: white;
}

.btn-big {
  letter-spacing: 3px;
  margin-left: 0.8rem;
  margin-top: 1rem;
  padding: 10px 25px;
}

.selected2 {
  font-weight: 700;
}

.logo img {
  height: 30px;
  padding: 0;
}

/* ---backgound animation */
.site {
  position: relative;
}

.social-copy {
  font-size: 0.75rem;
}

.headline {
  font-weight: var(--fw-semi-bold);
}
.headline p {
  color: var(--purple);
  font-size: 1rem;
}
.headline h3 {
  color: var(--gray);
  font-size: 2.5rem;
}

/* ---------------heather stlye------------------ */
.heather-style {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  align-items: center;
  justify-items: center;
  /* border-bottom: 1px solid rgb(255, 255, 255); */
  background-color: var(--dark);

  /* margin-bottom: 1rem; */
}

.social {
  display: flex;
  justify-content: center;
}

.social p {
  font-size: 0.75rem;
}

.social img {
  height: 1.75rem;
  padding: 1rem 0.5rem;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

nav li a {
  padding: 0 2rem 0.5rem 2rem;
}

/* ----------------------End of Heather ====================================== */

input {
  padding: 0.6rem 10rem 0.6rem 1rem;
  margin-top: 1rem;
  background-color: #ffffff;
  border: 0;
}

/*   ----------footer style-------------- */
footer {
  text-align: center;
}
#footer-about ul {
  flex-direction: column;
  list-style: none;
  text-align: center;
  padding: 0;
  line-height: 2rem;
  margin: 2rem;
}
#foot-search ul {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 2rem;
  margin-top: 1rem;
}

#foot-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 2rem;
}

.copyright p {
  color: var(--light);
  text-align: center;
  font-size: 0.8rem;
  padding: 0 0 1rem 0;
}
.foot-style {
  background-color: var(--dark);
  color: var(--lite);
}

.foot-style ul {
  justify-content: center;
}

.foot-style a {
  font-size: 13px;
  color: var(--light);
}

.foot-address img {
  width: 16px;
}
.foot-address p {
  line-height: 1rem;
  font-size: 0.75rem;
  margin-bottom: 1rem;
}

/* ------------end of footer------------ */

/* ---------------------main page */
.buttonStyle {
  padding-top: 6px;
  border: 0;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #9befe3;
}

.hero-image {
  padding: 5rem 0;
  background-color: var(--purple);
  color: white;
}
.main-copy {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main-copy h2 {
  line-height: 3.5rem;
  font-weight: var(--fw-semi-bold);
  font-size: 2.81rem;
}

.main-copy p {
  margin-top: 1rem;
  font-size: 0.7rem;
}

.video-placeholder {
  width: 100%;
  height: 300px;
  background-color: #9befe3;
}

.headline-margin {
  margin: 1rem;
}
.cards {
  margin: 1rem 1rem;
}

.cards img {
  margin-top: 2rem;
  margin-left: 1rem;
  width: 2.2rem;
}
.cards h3 {
  margin-left: 1.25rem;
}
.cards p {
  margin-top: 1rem;
  font-size: 0.75rem;
}
.card-margin {
  margin-top: 5rem;
}

.card-style {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 19px;
}
.card-color-purple {
  background-color: #cec3fd;
}

.card-color-flesh {
  background-color: #fcf4e7;
}

.card-color-green {
  background-color: #edfed1;
}

.card-color-gray {
  background-color: #e2e2e2;
}

.card-testi h3 {
  margin-top: 2rem;
}

.profile-info {
  display: flex;
}
.profile-info img {
  margin: 1rem 1rem;
  border-radius: 20px;
}
.profile-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-name h4 {
  color: var(--purple);
}

.profile-name p {
  margin: 0;
}

.hide1 {
  display: none;
  margin-left: 3rem;
}
.hide2 {
  display: none;
}

.success {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.success h2 {
  color: var(--dark);
  font-weight: var(--fw-semi-bold);
  line-height: 1.8rem;
  margin-bottom: 1rem;
}

.testimonials {
  background-color: #f0f0f0;
}

/* -------------------------end of main page */

img {
  transition: transform 0.5s cubic-bezier(0.7, -0.39, 0.31, 1.38);
}

.photo:hover img {
  transform: scale(1.1);
}

/*  -------- querry  mobile----------------------- */
@supports (grid-area: auto) {
  .site {
    max-width: none;
  }
  .top-nav {
    display: none;
    color: var(--light);
    font-size: var(--fs-h4);
  }
  .burger div {
    width: 24px;
    height: 3px;
    background-color: var(--lite);
    margin: 5px;
    transition: all 0.3s ease;
  }

  /* ------slide Navition */
  .nav-links {
    transform: translateX(-100%);
    color: var(--lite);
    display: flex;
    position: absolute;
    z-index: 11;
    left: 0;
    height: 52vh;
    width: 50%;
    top: 77px;
    background: var(--lime);
    backdrop-filter: blur(0.5rem);
    justify-content: space-evenly;
    transition: transform 0.5s ease-in;
  }

  .nav-active {
    transform: translateX(-3%);
  }
  .nav-links li {
    opacity: 0;
  }
  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .nav-links ul {
    flex-direction: column;
    justify-content: space-around;
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(-50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  /*-----------mobile querry grid-----------*/
  .nav-grid {
    display: grid;
    grid-template-columns: 1fr repeat(3, minmax(auto, 30em)) 1fr;
  }
  .logo {
    grid-column: 3;
  }
  .burger {
    cursor: pointer;
    grid-column: 2;
  }
  .social {
    grid-column: 4;
  }

  .one-item h3 {
    font-weight: var(--fw-semi-bold);
  }

  .head,
  .main > *,
  .foot {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .one-item {
    display: grid;
    grid-column: 1 / span 2;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
  }

  .two-items {
    display: grid;
    grid-column: 1 / span 2;
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-evenly;
    /* row-gap: 2em; */
    column-gap: 2em;
    justify-items: center;
    align-items: center;
  }

  .three-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
    row-gap: 1rem;
    column-gap: 1rem;
  }

  .four-items {
    display: grid;
    grid-column: 1 / span 2;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
    row-gap: 2em;
    column-gap: 2em;
    justify-items: center;
  }

  .four-items img {
    padding: 0;
    margin: 1rem 0 1rem 0rem;
  }

  /* about us */
  .our-location {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }

  .footer-grid {
    display: grid;
    grid-column: 2 / span 2;
    grid-template-columns: repeat(3, 2fr);
    justify-content: space-evenly;
    row-gap: 2em;
    column-gap: 2em;
    align-items: center;
  }

  .custom-override {
    display: grid;
    grid-column: 1 / span 2;
    grid-template-columns: 1fr;
  }

  #foot-search {
    grid-column: 1;
    grid-row: 1;
  }
  #foot-links {
    grid-column: 1;
    grid-row: 2;
  }
  #foot-orbit {
    grid-column: 1;
    grid-row: 3;
  }

  #button {
    margin-bottom: 1rem;
    margin: 1rem 5rem 1rem 5rem;
    /* align-items: center; */
  }

  /* -------------------table querry-------------------------- */
  @media screen and (min-width: 768px) {
    .site {
      max-width: none;
    }

    .section-style h5 {
      margin-top: 0;
    }

    .dynamic-size {
      height: 500px;
    }
    .top-nav {
      display: none;
    }
    .nav-links {
      width: 35%;
    }

    .partners img {
      height: 55px;
    }

    /*------------ Grid Items ------------*/

    .head,
    .main > *,
    .foot {
      display: grid;
      grid-template-columns: 1fr repeat(2, minmax(auto, 30em)) 1fr;
    }

    .video-play-button {
      top: 88%;
      left: 10%;
    }

    .hide1 {
      display: block;
    }
    .hide2 {
      display: block;
    }

    .hide3 {
      display: none;
    }

    .one-item {
      display: grid;
      grid-column: 2 / span 2;
      grid-template-columns: 1fr;
    }

    .two-items {
      display: grid;
      grid-column: 2 / span 2;
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-evenly;
      /* row-gap: 2em;
      column-gap: 2em; */
    }

    .trending-blog {
      display: grid;
      grid-column: 2 / span 2;
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-evenly;
      /* row-gap: 2em;
      column-gap: 2em; */
    }

    .three-items {
      display: grid;
      grid-column: 2 / span 2;
      grid-template-columns: repeat(3, 1fr);
      justify-content: space-evenly;
      /* row-gap: 2em; */
      /* column-gap: 2em; */
    }

    .four-items {
      display: grid;
      grid-column: 2 / span 2;
      grid-template-columns: repeat(4, 1fr);
      justify-content: space-evenly;
      row-gap: 2em;
      column-gap: 2em;
    }

    .footer-grid {
      display: grid;
      grid-column: 2 / span 2;
      grid-template-columns: repeat(3, 1fr);
      justify-content: space-evenly;
      row-gap: 2em;
      column-gap: 2em;
      align-items: center;
    }

    .success {
      flex-direction: column;
      align-items: flex-start;
    }

    #foot-search {
      grid-column: 2 / span 2;
      grid-row: 1;
    }
    #foot-links {
      grid-column: 4;
      grid-row: 1;
    }
    #foot-orbit {
      grid-column: 1;
      grid-row: 1;
    }

    .foot-address {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
    }

    #button {
      margin-bottom: 1rem;
      margin: 1rem 3rem 1rem 3rem;
      /* align-items: center; */
    }
    .copyright p {
      padding: 0;
    }

    #button {
      margin-bottom: 1rem;
      margin: 1rem 15rem 0 15rem;
      /* align-items: center; */
    }
    .foot-style {
      padding: 1rem 0 1rem 0;
    }
  }

  /* -------------------desktop querry-----------------------------------============= */
  @media screen and (min-width: 1024px) {
    /* start main page */

    /* end main page */

    .nav-links {
      display: none;
    }

    .site {
      max-width: none;
    }

    .top-nav {
      display: block;
    }

    .burger {
      display: none;
    }
    /*------------ Grid Items ------------*/

    .head,
    .main > *,
    .foot {
      display: grid;
      grid-template-columns: 1fr repeat(2, minmax(auto, 30em)) 1fr;
    }

    .nav-grid {
      display: grid;
      grid-template-columns: 1fr repeat(3, minmax(auto, 30em)) 1fr;
    }
    .logo {
      grid-column: 2;
    }

    .social {
      grid-column: 4;
    }

    .one-item {
      display: grid;
      grid-column: 2 / span 2;
      grid-template-columns: 1fr;
    }

    .two-items {
      display: grid;
      grid-column: 2 / span 2;
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-evenly;
      /* row-gap: 2em; */
      /* column-gap: 2em; */
    }

    .three-items {
      display: grid;
      grid-column: 2 / span 2;
      grid-template-columns: repeat(3, 1fr);
      justify-content: space-evenly;
      /* row-gap: 2em; */
      /* column-gap: 2em; */
    }

    .four-items {
      display: grid;
      grid-column: 2 / span 2;
      grid-template-columns: repeat(4, 1fr);
      justify-content: space-evenly;
      /* row-gap: 2em; */
      /* column-gap: 2em; */
    }

    .product-items {
      display: grid;
      grid-column: 2 / span 2;
      grid-template-columns: repeat(4, 1fr);
      justify-items: center;
    }

    .shop-promo {
      display: grid;
      grid-column: 2 / span 2;
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
    }

    .shop-promo img {
      height: 280px;
    }

    .four-items {
      display: grid;
      grid-column: 2 / span 2;
      grid-template-columns: repeat(4, 1fr);
      justify-content: space-evenly;
      row-gap: 2em;
      column-gap: 2em;
    }

    .footer-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      row-gap: 2em;
      column-gap: 2em;
      align-items: center;
    }

    #foot-search {
      grid-column: 2 / span 2;
      grid-row: 1;
    }
    #foot-links {
      grid-column: 4;
      grid-row: 1;
    }
    #foot-orbit {
      grid-column: 1;
      grid-row: 1;
    }

    #button {
      margin-bottom: 1rem;
      margin: 1rem 3rem 1rem 3rem;
      /* align-items: center; */
    }
    .foot-style {
      /* padding: 3rem 0 3rem 0; */
    }

    /* align-items: center; */
  }

  /*------------  End Grid Items ------------*/
}

@keyframes nav-LinkFad {
  from {
    opacity: 0;
    transform: translateX(150px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
